.gradient-text {
    color: black;
    font-family: 'Kaushan Script', cursive;
}
.heading{
    font-size: 40px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.video{
    width: 800px;
}
.video-box{
    position: relative;
}
.video-button{
    /* position: absolute; */
    border: none;
    width: 40px;
    height: 20px;
    /* background-color: transparent; */
}